{{#if error }}
    <p style="color:red"> Login Failed. Please try again. </p>
{{/if}}
<h1>Create New Account</h1>
<form action="/users/new" method="POST">
    <label for="name">Name</label>
    <br></br>
    <input name="username" type="text" value="" />
    
    <br></br>
    
    <label for="password">Password</label>
    <br></br>
    <input name="password" type="password" value="" />
    
    <br></br>
    
    <input type="submit" value="CREATE" />
    
    

    
</form>