{{!--<p align="right"><button onclick="getNextQuestion();">Next Question</button></p>--}}

<h1 align="right"><div id="question"></div></h1>
<p align="right"><div id="data.answer.answerText"></div></p>
<h2 id="score"></h2>
<h2 id="demo"></h2>

<div id="map" style="width: 100%; height: 75vh;"></div>

<h1 id="country"></h1>
<p id="position"></p>

<script src="./javascripts/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4cFsNGI0CNvZ_dWfc2fdIsO3JMWTpXDg&callback=initMap"></script>


<!-- Display the countdown timer in an element -->




