<button onclick="doSomething();">Click Me</button>

<div id="map" style="width: 100%; height: 100vh;"></div>

<h1 id="country"></h1>
<p id="position"></p>

<script>
    function doSomething() {
        $.ajax({
                'url': '/api/game/start '
            })
            .done(function(data) {
                alert(data.message);
            })
            .fail(function(err) {
                alert('Failed');
            });
    }
</script>

<script>
    function initMap() {
        var myLatlng = {
            lat: 34.26,
            lng: 27.19
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: myLatlng
        });
    }
</script>

<script type="text/javascript">
  function initialize() {
        var _lat = 10;
        var _long = 200;
        var myLatlng = new google.maps.LatLng(_lat, _long);
    var myOptions = { 
        center: myLatlng, 
        zoom: 15, 
        mapTypeControl: false, 
        draggable: false, 
        scaleControl: false, 
        scrollwheel: false, 
        navigationControl: false, 
        streetViewControl: false, 
        mapTypeId: google.maps.AIzaSyA4cFsNGI0CNvZ_dWfc2fdIsO3JMWTpXDg.ROADMAP };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

        var image = 'target.png';
        var beachMarker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            icon: image
        });

        beachMarker.setMap(map);
  }
 
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4cFsNGI0CNvZ_dWfc2fdIsO3JMWTpXDg&callback=initMap"></script>

<div class="container">
    <div class="timer">
        <label>Timer</label><input id="timer" />
    </div>
    <div class="score">
        <label>Score</label><input id="score" />
    </div>
</div>