<p align="right"><button onclick="doSomething();">Click Me</button></p>
<p align="right"><button onclick="getNextQuestion();">Next Question</button></p>

<p align="right"><div id="question"></div></p>
<p align="right"><div id="data.answer.answerText"></div></p>
<div id="score"></div>

<div id="map" style="width: 75%; height: 80vh;"></div>


<div id="map" style="width: 1200px; height: 650px;"></div>


<h1 id="country"></h1>
<p id="position"></p>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4cFsNGI0CNvZ_dWfc2fdIsO3JMWTpXDg&callback=initMap"></script>
<script src="./javascripts/main.js"></script>


<img class="bottom-right-logo" src="./images/logo.png">

<!-- Display the countdown timer in an element -->
<p id="demo"></p>



