<button onclick="doSomething();">Click Me</button>

<<<<<<< HEAD
<div id="map" style="width:100; height:100vh"></div>
=======
<div id="map" style="width: 100%; height: 100vh;"></div>
>>>>>>> 4a750eaadb8d447aa1622a3864c1eb119202a229

<script>
    function doSomething() {
        $.ajax({
                'url': '/api/game/start '
            })
            .done(function(data) {
                alert(data.message);
            })
            .fail(function(err) {
                alert('Failed');
            });
    }
</script>

<script>
    function initMap() {
        var myLatlng = {
            lat: 34.26,
            lng: 27.19
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: myLatlng
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4cFsNGI0CNvZ_dWfc2fdIsO3JMWTpXDg&callback=initMap"></script>

