<button onclick="doSomething();">Click Me</button>
<button onclick="getNextQuestion();">Next Question</button>

<div id="map" style="width: 1200px; height: 650px;"></div>

<h1 id="country"></h1>
<p id="position"></p>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4cFsNGI0CNvZ_dWfc2fdIsO3JMWTpXDg&callback=initMap"></script>
<script src="./javascripts/main.js"></script>

<img class="bottom-right-logo" src="./images/logo.png">