<img src="./images/logo.png">
<h1>Welcome to Geopardy!</h1>
<p>A geography game</p>

</img>

{{#if isUserLoggedIn}}
    <a href="/game"><button>START</button></a>
    <a href="/logout"><button>SIGN OUT</button></a>
{{else}}
    <a href="/login"><button>CREATE ACCOUNT</button></a>
    <a href="/signin"><button>SIGN IN</button></a>
{{/if}}

<br></br>
<a href="/leaderboard"><button>LEADERBOARD</button></a>
