<h1>Leaderboard</h1> 
<table>
    <tr>
        <th>Username</th>
        <th>Score</th>
        <th>Date</th>
    </tr>
    {{#each leaderboard}}
    <tr>
        <td class="username">
            {{username}}
        </td>
        <td class="score">
            {{score}}
        </td>
        <td class="date">
            {{endTime}}
        </td>
    </tr>
    {{/each}}
</table>