
<h1>Welcome to Geopardy!</h1>

    <a href="/login"><button>CREATE ACCOUNT</button></a>
    <a href="/signin"><button>SIGN IN</button></a>

<br></br>
<a href="/leaderboard"><button>LEADERBOARD</button></a>
