{{#if error }}
    <p style="color:red"> Login Failed. Please try again. </p>
{{/if}}
<h1>Sign In</h1>
<form action="/users/signin" method="POST">
    <label for="name">Name</label>
    <br></br>
    <input name="username" type="text" value="" />
    
    <br></br>
    
    <label for="password">Password</label>
    <br></br>
    <input name="password" type="password" value="" />
    
    <br></br>
    
    <input type="submit" value="sign in" />
</form>